.mainSide {
  background-color: #c02929;
  height: 100vh;
  position: fixed;
  width: 220px;
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  display: none;
}
li {
  list-style: none;
}
.title {
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commentLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.myLogo {
  font-size: 30px;
  margin-right: 10px;
}

.additionalText {
  font-size: 20px;
  color: white;
}

.commentLogo > svg {
  margin-bottom: 5px;
  font-weight: bold;
}

.idInput {
  width: 95%;
  margin-left: 3px;
  height: 33px;
  font-size: 13px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.5); /* 테두리를 연한 회색으로 변경 */
  margin-bottom: 5px;
  padding: 5px;
  background-color: white; /* 입력 필드 배경색을 흰색으로 유지 */
  color: black;
}

.idInput:focus {
  border-color: #a02020; /* 포커스 시 좀 더 어두운 빨간색 테두리 */
  outline: none;
  box-shadow: 0 0 5px rgba(160, 32, 32, 0.5);
}

.btnLogin {
  background-color: #e71414; /* 더 부드러운 붉은색 */
  width: 100%;
  color: #fff;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.btnLogin:hover {
  background-color: #8b1a1a; /* 호버 시 더 짙은 빨간색 */
  border-color: rgba(255, 255, 255, 0.8);
}

.autoSign {
  margin-top: 10px;
  margin-bottom: 10px;
}

.welcome {
  text-align: center;
}