<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.ytcomment.popular.mapper.EmailSignUpMapper">
    <insert id="insertUserInfo" parameterType="site.ytcomment.popular.mapper.DTO.EmailSignUpDbDTO$In">
        INSERT INTO userinfo (id, userEmail, userName, userPw, social) VALUES (#{userId}, #{userEmail},#{userName}, #{userPw}, #{social})
    </insert>
</mapper>