<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.ytcomment.popular.mapper.UserVideoLikeMapper">

    <select id="selectUserScrapPage" parameterType="site.ytcomment.popular.mapper.DTO.scrap.UserScrapPageDbDTO$In"
            resultType="site.ytcomment.popular.mapper.DTO.scrap.UserScrapPageDbDTO$Out">
        SELECT
            c.id,
            c.title,
            c.channelTitle,
            c.thumbnails,
            c.categoryId,
            s.channelViewCount,
            s.channelLikeCount,
            s.channelCommentCount,
            c.publishedAt
        FROM likes l
                 JOIN channelInfo c ON l.videoId = c.id
                 JOIN statistics s ON c.id = s.id
        WHERE l.userId = #{userId}
        ORDER BY l.likedAt DESC;
    </select>

</mapper>
