<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.ytcomment.popular.mapper.CommentMapper">
    <insert id="insertComment">
        INSERT IGNORE INTO comment (id, likeCount, textOriginal, authorDisplayName, authorProfileImageUrl, publishedAt)
               VALUES (#{id}, #{likeCount}, #{textOriginal}, #{authorDisplayName}, #{authorProfileImageUrl}, #{publishedAt})
    </insert>
</mapper>